<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dashboard-container">
    <h1>Panel de Control de Riego</h1>

    <!-- Estado de la válvula -->
    <div class="status-card">
      <h2>Estado de la Válvula</h2>
      <p
        [ngClass]="{'open': valveStatus === 'Abierta', 'closed': valveStatus === 'Cerrada'}"
      >
        {{ valveStatus }}
      </p>
      <app-button (click)="toggleValve()" size="medium">
        {{ valveStatus === 'Abierta' ? 'Cerrar Válvula' : 'Abrir Válvula' }}
      </app-button>
    </div>

    <!-- Información de sensores -->
    <div class="sensor-grid">
      <div class="sensor-card">
        <h2>Humedad del Ambiente</h2>
        <p>{{ ambientHumidity }}%</p>
      </div>
      <div class="sensor-card">
        <h2>Humedad de la Tierra</h2>
        <p>{{ soilHumidity }}%</p>
      </div>
      <div class="sensor-card">
        <h2>Temperatura</h2>
        <p>{{ temperature }}°C</p>
      </div>
    </div>
  </div>
</ion-content>
