<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pruebas Componentes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Prueba para componente reutilizable de botón -->
  <div class="button-container">
    <h4>Pruebas para botones reutilizables</h4>
    <app-button size="small">Botón Pequeño</app-button>
    <app-button size="medium">Botón Mediano</app-button>
    <app-button size="large">Botón Grande</app-button>
    <app-button [disabled]="true">Botón Deshabilitado</app-button>
    <app-button>Botón por Defecto</app-button>
  </div>
</ion-content>
